
/*Lets attempt to use just one stylesheet for both pages. Use CSS specificity!!!*/

body {
    background-image: url("../images/pexels-photo-281260.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    background-color: #ffffff;
    font-family: 'Oxygen', sans-serif;
}

h1 .navbar-brand {
    color: #000000;
}

h3  {
	color: #000000;
}

h4 {
    color: #000000;
}



#chore-list {
	font-weight: 700;
	font-size: 2em;
}

.hidden {
	display: none;
}

#loginForm {
/*    margin: 25px 50px; */
}

#btnLogin {
    background-color: #484A4B;
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#btnSignup {
    background-color: #484A4B;
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


 /*  COLUMN SETUP  */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
 */


