
/*Lets attempt to use just one stylesheet for both pages. Use CSS specificity!!!*/

body {
    background-image: url("../images/pexels-photo-281260.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    max-width: 100%;
    background-color: #fff;
    font-family: 'Oxygen', sans-serif;
}

h1 .navbar-brand {
    color: #000;
}

h1, h2, h3, h4, h5, h6  {
	color: #000;
}


#chore-list {
	font-weight: 700;
	font-size: 2em;
}

.hidden {
	display: none;
}

#loginForm {
/*    margin: 25px 50px; */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}




