
/*Lets attempt to use just one stylesheet for both pages. Use CSS specificity!!!*/

body {
	background: #CFD6D7;
}

h1 {
	color: #5AD8ED;
}


#chore-list {
	font-weight: 700;
	font-size: 2em;
}

.hidden {
	display: none;
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


 /*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


